body {
  background-color: #d8f9ca;
  font-family: "Roboto", sans-serif;
}
header {
  border-bottom: 1px solid #d8f9ca;
  padding: 0 0 30px 0;
}
footer {
  border-top: 1px solid#d8f9ca;
  padding: 20px 0 0 0;
  text-align: center;
  font-size: 13px;
  color: rgb(0, 0, 0, 0.6);
}
a {
  color: #198450;
}
main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}
.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}
.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  color: rgb(39, 33, 66, 0.4);
}
.weather-app-details .percent-speed {
  color: #885df1;
  font-weight: 500;
}
.weather-app-temperature-container {
  display: flex;
}
.weather-app-icon {
  font-size: 44px;
  margin-top: 22px;
  margin-left: 10px;
}
.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
}
.weather-app-unit {
  margin-top: 16px;
  font-size: 28px;
}
.weather-app {
  background-color: white;
  max-width: 600px;
  margin: 45px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 30px 50px rgba(50, 99, 69, 0.2);
}
.search-form-input {
  background-color: #d8f9ca;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}
.search-form-button {
  color: white;
  background-color: #198450;
  font-size: 16px;
  padding: 15px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 6px;
}
